@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  p,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  table,
  th,
  td {
    @apply text-sm; /* Atau gunakan text-sm/text-lg sesuai kebutuhan */
  }
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}
.swiper-pagination-bullet {
  background: rgb(239 68 68); /* red-500 */
}

.swiper-pagination-bullet-active {
  background: rgb(220 38 38); /* red-600 */
}
#fr-logo,
.fr-wrapper a[href*="froala"] {
  display: none !important;
}

/* Gaya untuk Switch Saklar */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.maplibregl-ctrl-attrib-inner {
  display: none !important;
}

.maplibregl-ctrl-attrib {
  display: none !important;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cbd5e1;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #dc2626;
} /* Warna Merah KPU */
input:checked + .slider:before {
  transform: translateX(25px);
}


.custom-calendar .react-calendar__tile * {
  pointer-events: none !important;
}

.lanyard-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transform-origin: center;
}
